{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block page_extra_head %}
    <link href="{% static 'player/videojs/video-js.min.css' %}?ver={{ VERSION }}" rel="stylesheet"/>
    <script src="{% static 'player/videojs/video.min.js' %}?ver={{ VERSION }}"></script>
    {% with 'player/videojs/lang/'|add:request.LANGUAGE_CODE|add:'.js' as videojs_lang %}
        <script src="{% static videojs_lang %}?ver={{ VERSION }}"></script>
    {% endwith %}

    <script src="{% static 'js/videojs-logo-controlbar.js' %}?ver={{ VERSION }}"></script>
    {% if broadcaster.enable_viewer_count %}
        <script>let heartbeat_delay = {{ heartbeat_delay }}</script>
        <script src="{% static 'js/viewcounter.js' %}?ver={{ VERSION }}"></script>
    {% endif %}
{% endblock %}


{% block page_title %}{{ event.title|title|truncatechars:45 }}{% endblock %}

{% block page_content %}
{% csrf_token %}
    <h3 id="livename" data-liveid="{{ event.id }}"><i data-feather="airplay"></i>&nbsp;{{ event.title|title }}</h3>

    {% if event.is_current %}
        <div id="divvideoonhold" style="display: block;">
            <video id="podvideoonholdplayer"
                   class="video-js vjs-default-skin vjs-big-play-centered"
                   controls height="360" muted autoplay>
            </video>
        </div>
        <div id="divvideoplayer" style="display: none;">
            <div class="row">
                <div class="col">
                    <video id="podvideoplayer"
                           class="video-js vjs-default-skin vjs-big-play-centered"
                           controls height="360" muted autoplay>
                        <source
                                src="{{ event.broadcaster.url }}"
                                type="application/x-mpegURL">
                    </video>

                </div>
            </div>

        </div>
        <div id="control">
            <p>Flux en cours d'enregistrement : {{ isStreamRecording }}</p>
            <button type="button" class="btn btn-primary btn-sm m-1 {% if isStreamRecording == True %}d-none{% endif %}" id="startrecord">{% trans "Start Record"%}</button>
            <button type="button" class="btn btn-primary btn-sm m-1 {% if isStreamRecording == False %}d-none{% endif %}" id="stoprecord">{% trans "Stop Record"%}</button>
            <button type="button" class="btn btn-primary btn-sm m-1 {% if isStreamRecording == False %}d-none{% endif %}" id="splitrecord">{% trans "Split Record"%}</button>
        </div>
        <div id="info-video" style="display:none" class="jumbotron">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    {% elif event.is_past %}
        <div class="p-3 mb-2 bg-warning text-dark">
            {% trans "Event is finished at : " %} {{ event.start_date }} {{ event.end_time }}
            <br>
            {% trans "TODO : <br> <ul> <li> add the videos linked to the event </li> </ul>" %}
        </div>
    {% else %}
        <div class="p-3 mb-2 bg-warning text-dark">
            {% trans "The event is scheduled on the : " %} {{ event.start_date }}
            {% trans " from " %} {{ event.start_time }}
            {% trans " to " %} {{ event.end_time }}
        </div>
    {% endif %}

{% endblock %}

{% block page_aside %}

    {% include 'aside.html' with HIDE_DISCIPLINES=True HIDE_TAGS=True %}

    {% if event.owner == request.user or request.user.is_superuser or perms.live.delete_event %}
        {% if not event.is_current %}
            <div class="card mt-1" id="card-managevideo">
                <h5 class="card-header card-title pl-2"><i data-feather="settings"></i>&nbsp;{% trans "Manage event" %}
                </h5>
                <div class="card-body card-text text-center">

                    {% if event.owner == request.user or request.user.is_superuser %}
                        <a href="{% url 'live:event_edit' slug=event.slug %}" title="{% trans "Edit the event" %}"
                           class="btn btn-light btn-sm p-0 pb-1 m-0 ml-1">
                            <i data-feather="edit"></i>
                        </a>
                    {% endif %}

                    <a href="{% url 'live:event_delete' slug=event.slug %}"
                       class="btn btn-light btn-sm p-0 pb-1 m-0 ml-1"
                       title="{% trans "Delete the event." %}">
                        <i data-feather="trash-2"></i>
                    </a>

                </div>
            </div>
        {% endif %}
    {% endif %}

{% endblock page_aside %}

{% block more_script %}
    <script>
        // Debug if necessary, depends on the settings_local
        {% if debug %}
            var debug = true;
        {% else %}
            var debug = false;
        {% endif %}
        // Live started
        var started = false;
        // Number of loop until we are sure the live is stopped
        // See video state (cf. https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/readyState)
        var nbLoop = 0;
        // Live seems stopped
        var stopped = false;

        //videojs.options.flash.swf = "video-js.swf"
        var options = {
            notSupportedMessage: "{% trans 'Please use different browser' %} (Mozzila Firefox, Google Chrome, Safari, Microsoft Edge)",
            language: "fr", //en or nl
            {% if request.GET.is_iframe %}
                fluid: false,
            {% else %}
                fluid: true,
            {% endif %}
            playbackRates: [0.5, 1, 1.5, 2],
            errorDisplay: false,
            loop: false
        }

        // Management of the end of the stream (for Firefox, Chrome... not working for Edge, Safari)
        videojs.Hls.xhr.beforeRequest = function (options) {
            // Reset counter if video state is ok
            if (started && player.readyState() > 2) {
                nbLoop = 0;
            }
            if (started && player.readyState() <= 2) {
                // Check if .m3u8 exists, to be sure that live is stopped
                $.ajax({
                    url: '{{broadcaster.url}}',
                    type: 'GET',
                    crossDomain: true,
                    dataType: 'html',
                    success: function (html, status) {
                        stopped = false;
                    },
                    error: function (result, status, error) {
                        stopped = true;
                    },
                    complete: function (result, status) {
                    }
                });
                if (stopped) {
                    nbLoop = nbLoop + 1;
                    // We're waiting a bit to make sure it's not a network / data flow issue...
                    if (debug) {
                        console.info("The streaming live stopped? Video state: " + player.readyState() + ". It's been " + nbLoop + " times that there is no more video stream. After 4 times, we stop.");
                    }
                    if (nbLoop > 3) {
                        // Display of a message of end of live and reload of the page in 9 seconds
                        let modal = player.createModal('{% trans "Thank you for watching this streaming live with us. The page will reload automatically within a few seconds to display the video on hold." %}');
                        setTimeout(function () {
                            location.reload();
                        }, 9000);
                    }
                }
            }
            return options;
        }

        // Management of the video on hold
        {% if broadcaster.video_on_hold.is_video %}
            // In this case, loop is necessary
            options["loop"] = true;
            var playerOnHold = videojs('podvideoonholdplayer', options, function () {
            });

            playerOnHold.videoJsLogo({
                imgsrc: '{% static LOGO_PLAYER %}',
                linktitle: '{{TITLE_ETB}} - {{TITLE_SITE}}',
                link: '{{LINK_PLAYER}}'
            });
            var mp4_sources = {{broadcaster.video_on_hold.get_video_mp4_json|safe}};
            playerOnHold.src(mp4_sources);
            let modalOnHold = playerOnHold.createModal('{% trans "Live not found, displaying the video on hold, retry every 10 seconds" %}');
            setTimeout(function () {
                modalOnHold.close();
            }, 10000);
        {% endif %}

        // Management of the streaming live
        var player = videojs('podvideoplayer', options, function () {
        });

        {% if broadcaster.enable_viewer_count%}
            player.videoJsViewerCount();
        {% endif %}
        player.videoJsLogo({
            imgsrc: '{% static LOGO_PLAYER %}',
            linktitle: '{{TITLE_ETB}} - {{TITLE_SITE}}',
            link: '{{LINK_PLAYER}}'
        });
        player.on('error', function () {
            // Handle successives errors to avoid multiple reload
            if (typeof (errored) == 'undefined' || !errored) {
                var errored = true;
                let modal = player.createModal('{% trans "Live not found, retry in 10 seconds" %}');
                setTimeout(function () {
                    errored = false;
                    modal.close();
                    player.src({
                        src: player.currentSrc(),
                        type: player.currentType(),
                        overrideNative: true
                    });
                }, 10000)
            }
        })

        // Fire this event when live started
        player.on('loadedmetadata', function () {
            if (debug) {
                console.info("Streaming live starts.");
            }
            // Display the streaming live
            started = true;
            if ($("#divvideoonhold")) {
                $("#divvideoonhold").html("");
            }
            if ($("#divvideoplayer")) {
                $("#divvideoplayer").css("display", "block");
            }
        })


        $(document).on('click',  '#startrecord', function(e){
            console.log("dans js #startrecord");
            $.ajax({
                url: "{% url 'live:event_startrecord' %}",
                method: 'POST',
                dataType: 'json',
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                data: {
                    "idbroadcaster": "{{ event.broadcaster.id }}",
                },
                success: function(data) {
                    console.log('Enregistrement commence');
                    $("#startrecord").addClass("d-none");
                    $("#stoprecord").removeClass("d-none");
                    $("#splitrecord").removeClass("d-none")
                }
            })
        });


        $(document).on('click',  '#stoprecord', function(e){
            console.log("dans js #stoprecord");
            $.ajax({
                url: "{% url 'live:event_stoprecord' %}",
                method: 'POST',
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                data: {
                    "idbroadcaster": "{{ event.broadcaster.id }}",
                },
                success: function(data) {
                    console.log('Enregistrement arrêt');
                    $("#startrecord").removeClass("d-none");
                    $("#stoprecord").addClass("d-none");
                    $("#splitrecord").addClass("d-none")
                }
            })
        });

        $(document).on('click',  '#splitrecord', function(e){
            console.log("dans js #splitrecord");
            $.ajax({
                url: "{% url 'live:event_splitrecord' %}",
                method: 'POST',
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                data: {
                    "idbroadcaster": "{{ event.broadcaster.id }}",
                },
                success: function(data) {
                    console.log("Enregistrement split")
                    $("#startrecord").addClass("d-none");
                    $("#stoprecord").removeClass("d-none");
                    $("#splitrecord").removeClass("d-none")
                }
            })
        });

    </script>


{% endblock more_script %}