{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block more_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}?ver={{ VERSION }}"/>
{% endblock %}
{% block breadcrumbs %}{{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'live:my_events' %}">{% trans 'My events' %}</a></li>
  {% if form.instance.title and form.instance.slug != '' %}
    <li class="breadcrumb-item"><a href="{% url 'event' slug=form.instance.slug %}" title="{{form.instance.title}}">{{form.instance.title|title|truncatechars:45}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Editing the event" %}</li>
  {%else%}
    <li class="breadcrumb-item active" aria-current="page">{% trans "Plan an event" %}</li>
  {%endif%}
{% endblock %}

{% block page_title %}{% if form.instance.title %}{% trans "Editing the event" %} "{{form.instance.title}}"{% else %}{% trans "Plan an event" %}{%endif%}{% endblock %}


{% block page_content %}
    <h3> {% trans "Plan an event" %}</h3>

    {% if access_not_allowed == True %}
        <p class="text-info">
            <i data-feather="info"></i>&nbsp;{% trans "Access to adding event has been restricted. If you want to add events on the platform, please" %}
            <a href="{% url 'contact_us' %}">{% trans 'contact us' %}</a>
        </p>
    {% else %}
        <form action="{% url 'live:event_add' %}" method="post" class='needs-validation' novalidate>
            {% csrf_token %}


                    {% for field in form.visible_fields %}
                        {% spaceless %}
                            <div class="field_{{field.name}}">
                                <div class="form-group {% if field.field.required %}form-group-required {% endif %}">
                                    {{ field.errors }}
                                    {% if "form-check-input" in field.field.widget.attrs.class %}
                                        <div class="form-check">
                                            {{ field }} <label for="{{ field.id_for_label }}" class="form-check-label" >{{ field.label }}</label>
                                        </div>
                                    {% else %}
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                            {{ field }}
                                    {% endif %}

                                    {% if field.help_text %}
                                        <small id="{{ field.id_for_label }}Help"
                                                   class="form-text text-muted">{{ field.help_text|safe }}</small>
                                    {% endif %}
                                    {% if field.field.required %}
                                        <div class="invalid-feedback">{% trans "Please provide a valid value for this field" %}.</div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endspaceless %}
                    {% endfor %}
                    <div class="text-center mt-1">
                        <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
                    </div>

        </form>
    {% endif %}
{% endblock %}

{% block page_aside %}
{% if access_not_allowed == True %}
{% else %}
  {% if form.instance.title  and form.instance.slug != '' %}
    <div class="card mt-1" id="card-managevideo">
      <h5 class="card-header card-title pl-2"><i data-feather="settings"></i>&nbsp;{% trans "Manage video"%}</h5>
      <div class="card-body card-text text-center">
        {% include "videos/link_video.html" with video=form.instance %}
      </div>
    </div>
  {% endif %}
  <div class="card mt-1" id="card-sharedraftversion">
    <h5 class="card-header card-title pl-2">{% trans "Uploading" %}</h5>
    <div class="card-body card-text">
      <p>{% blocktrans with form.VIDEO_MAX_UPLOAD_SIZE as video_max_upload_size %}The file size must be lower than {{video_max_upload_size}} Go.{% endblocktrans %}</p>
      <p>{% trans "The sending time depends on the size of your file and your upload speed. This can be quite long." %}</p>
      <p>{% trans "While sending your file, do not close your browser until you have received a message of success or failure." %}</p>
      <p>{% trans "An email will be sent to you when all encoding tasks are completed." %}<p>
    </div>
  </div>
  <div class="card mt-1" id="card-mandatoryfields">
    <h5 class="card-header card-title pl-2">{% trans "Mandatory fields" %}</h5>
    <div class="card-body card-text">
      <p>{% trans "Fields marked with an asterisk are mandatory."%}</p>
    </div>
  </div>
{% endif %}
{% endblock page_aside %}


{% block more_script %}
    <script src="/admin/jsi18n/"></script>
    <script src="{% static 'admin/js/core.js' %}?ver={{ VERSION }}"></script>
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}?ver={{ VERSION }}"></script>
    <script src="{% static 'admin/js/jquery.init.js' %}?ver={{ VERSION }}"></script>
    <script src="{% static 'js/broadcaster_from_building.js' %}?ver={{ VERSION }}"></script>

    {{ form.media }}

{% endblock more_script %}