{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block more_style %}
  {% if use_category %}
    <link rel="stylesheet" href="{% static 'css/video_category.css' %}?ver={{VERSION}}">
  {% endif %}
{% endblock more_style %}

{% block breadcrumbs %}{{ block.super }} <li class="breadcrumb-item active" aria-current="page">{% trans "My events" %}</li>{% endblock %}

{% block page_title %}
  {% blocktrans count counter=events.count %}{{ counter }} event found{% plural %}{{ counter }} events found{% endblocktrans %}
  {{ events.paginator.count }}
{% endblock %}



{% block page_content %}

  {% if use_category %}
    <!-- Loader -->
    <div class="loader_wrapper">
      <div id="my_events" class="lds-roller">
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
      </div>
    </div>
    <!-- End Loader -->

{#    {% include "events/category_modal.html" %}#}

  {% endif %}

    <div class="row infinite-container mb-2" id="event_add">
    {% if events.count == 0 %}
        <h3>{% trans "No event found" %}</h3>
    {% else %}
        <h3>{% blocktrans count counter=events.count %}{{ counter }} event found{% plural %}{{ counter }} events found{% endblocktrans %}</h3>
    {% endif %}
        <a class="link-center-pod" href="{% url 'live:event_add' %}" title="add event">
            <button type="button" class="btn btn-primary">
                <i data-feather="plus" aria-hidden="true" class="d-lg-none d-xl-inline"></i>
                {% trans "add an event" %}
            </button>
        </a>
    </div>
    {% if events.count == 0 %}
        <p class="alert alert-info">{% trans 'You have not planned any event yet, please use the "Add a new event" button to add one' %}</p>
    {% else %}
        <p class="alert alert-info">{% trans "Please use the thumbnails toolbar which is located under the event on which you want to work with." %}</p>
        {% include "live/events_list.html" %}
    {% endif %}

{% endblock page_content %}

{% block collapse_page_aside %}
  {% if use_category %}
    {{ block.super }}
  {% endif %}
{% endblock collapse_page_aside %}

{% block page_aside %}
  {% if use_category %}

{#    {% include 'events/filter_aside_category.html' %}#}

  {% endif %}
{% endblock page_aside %}